/* google fonts import  - ROBOTO / Cinzel */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  /* Colors */
  --clr-primary: #072ac8;
  --clr-primaryLight: #a2d6f9;
  --clr-primaryLighter: #d1edff;
  --clr-secondaryLight: #fce300;
  --clr-secondaryDark: #ffc600;
  --clr-neutralLight: #f4f6fc;
  --clr-neutralMedium: #6b708d;
  --clr-neutralDark: #292e47;
  --clr-white: #fff;
  --clr-black: #000;
  --bg-wrong: #b33a3a;
  --bg-right: #28a428;
  --bg-main: #f2f4fc;

  /* Circular Animation */
  --anim-diameter: 25vw;
  --anim-circular-line-width: 2px;
  --anim-background: #000;
  --anim-line-color: #ff0055;

  /* Typography */
  --h1-size: 60px;
  --h1-weight: bold;

  --h2-size: 50px;
  --h2-weight: bold;

  --h3-size: 40px;
  --h3-weight: bold;

  --h4-size: 24px;
  --h4-weight: bold;

  --body-intro-size: 24px;
  --body-intro-weight: medium;

  --body-regular-size: 20px;
  --body-regular-weight: normal;

  --headline-regular-size: 17px;
  --headline-regular-weight: normal;

  --headline-medium-size: 17px;
  --headline-medium-weight: medium;

  --caption-regular-size: 15px;
  --caption-regular-weight: normal;

  --caption-small-size: 13px;
  --caption-small-weight: normal;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

/* Heading styles */
.h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}

.h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

.h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}

.h4 {
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: var(--bg-main);
  color: var(--clr-neutralDark);
}

section,
footer {
  max-width: 1063px;
  margin: auto;
}

/* ------------------------------ Navbar ------------------------------ */
#topnav__wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
}

.topnav__links a {
  text-decoration: none;
  color: var(--clr-neutralMedium);
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

.topnav__links a:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.topnav__btn-blue {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}

.topnav__btn-blue:hover {
  background-color: var(--clr-neutralDark);
}

/* Hamburger Menu */
.topnav__hamburger-menu {
  display: none;
}

.topnav__hamburger-menu input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.topnav__hamburger-icon {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.topnav__hamburger-icon span {
  display: block;
  height: 3px;
  background-color: var(--clr-neutralMedium);
  margin-bottom: 5px;
}

/* Dropdown Menu */
.topnav__dropdown-menu {
  display: none;
}

.topnav__dropdown-menu ul {
  list-style-type: none;
  text-align: center;
}

.topnav__dropdown-menu ul li {
  padding: 10px;
}

.topnav__dropdown-menu ul li a {
  text-decoration: none;
  color: var(--clr-neutralMedium);
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

.topnav__dropdown-menu ul li a:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

/* ------------------------------ Index.html ------------------------------ */
/* Main Section */
#main__wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main__wrapper > div {
  width: 46%;
}

.main__txt-block h1 {
  font-size: 3.9rem;
  color: var(--clr-neutralDark);
}

.main__txt-block p {
  font-size: 1.3rem;
  color: var(--clr-neutralMedium);
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0 50px 0;
}

.main__btn-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main__btn-blue {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  margin-right: 25px;
  text-decoration: none;
}

.main__btn-blue:hover {
  background-color: var(--clr-neutralDark);
}

.main__link {
  text-decoration: none;
  color: var(--clr-neutralMedium);
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

#main__img-block {
  position: relative;
}

#main__img-hero {
  width: 100%;
}

#main__img-card1 {
  position: absolute;
  left: -19%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 57%;
}

#main__img-card2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -22%;
  max-width: 57%;
  z-index: 99;
}

/* Brands Section */
#brands__wrapper {
  width: 80vw;
  height: 20vh;
  overflow: hidden;
  margin-top: 120px;
}

.brands__marquee-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  animation: scrolling 20s linear infinite;
}

.brands__img-item {
  margin: 0 auto;
  filter: grayscale(1);
  width: 10rem;
  margin-right: 1.25rem;
}

.brands__img-item:hover {
  filter: grayscale(0);
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-140vw);
  }
}

/* Project Section */
.project__title {
  margin: 100px 0 75px 0;
}

.project__title h2 {
  font-size: 2.5rem;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.project__card {
  background-color: var(--clr-white);
  padding-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s, visibility 0.25s ease-in;
}

.project__card:hover {
  transform: scale(1.1);
}

.project__card img {
  width: 100%;
  height: 240px;
}

.project__card h3 {
  font-size: 1.3rem;
  margin: 27px;
}

.project__card p {
  font-size: 1.1rem;
  margin: 0 27px 27px 27px;
}

.project__card a {
  text-decoration: none;
  font-weight: 500;
  color: var(--clr-primary);
  margin: 0 27px 27px 27px;
}

/* Reviews Section */
#reviews__wrapper {
  background: var(--clr-neutralDark) url("../img/testimonial-section/orbit.png")
    no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 100px;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#reviews__wrapper h2 {
  color: var(--clr-white);
  font-size: 2.1rem;
}

#reviews__wrapper p {
  width: 55%;
  color: var(--clr-secondaryDark);
  font-size: 1.7rem;
}

.reviews__autor-testimonial-block {
  width: 17%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews__autor-testimonial-block img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.reviews__autor-testimonial-block h4 {
  color: var(--clr-primaryLight);
  font-weight: 400;
}

.reviews__autor-testimonial-block h5 {
  color: var(--clr-white);
  font-weight: 400;
}

.reviews__autor-testimonial-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5px;
}

.reviews__emoji-1,
.reviews__emoji-2,
.reviews__emoji-3,
.reviews__emoji-4 {
  width: 125px;
  height: 125px;
  position: absolute;
}

.reviews__emoji-1 {
  inset: 10% auto auto 10%;
}

.reviews__emoji-2 {
  inset: 10% 10% auto auto;
}

.reviews__emoji-3 {
  inset: auto 10% 10% 10%;
}

.reviews__emoji-4 {
  inset: auto 10% 10% auto;
}

/* Services Section */
.services__title {
  margin: 100px 0 75px 0;
}

.services__title h2 {
  font-size: 2.5rem;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.services__card {
  background-color: var(--clr-white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

#service-icon-1,
#service-icon-2,
#service-icon-3 {
  background-size: 46%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-color: var(--clr-primaryLighter);
  border-radius: 100px;
  margin: 34px 0 0 34px;
}

#service-icon-1 {
  background-image: url("../img/services-section-icons/1.svg");
}

#service-icon-2 {
  background-image: url("../img/services-section-icons/2.svg");
}

#service-icon-3 {
  background-image: url("../img/services-section-icons/3.svg");
}

.services__card h3 {
  font-size: 1.3rem;
  margin: 27px;
}

.services__card p {
  font-size: 1.1rem;
  margin: 0 27px 27px 27px;
}

.services__card a {
  text-decoration: none;
  font-weight: 500;
  color: var(--clr-primary);
  margin: 0 27px 27px 27px;
}

/* Questions Section */
#questions__wrapper {
  height: 500px;
  background-color: var(--clr-secondaryDark);
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#questions__wrapper h2 {
  font-size: 2.5rem;
}

#questions__wrapper p {
  color: var(--clr-neutralMedium);
  font-weight: 400;
  margin: 20px 0 50px 0;
}

#questions__btn {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.05rem;
  padding: 25px 50px 25px 50px;
  text-decoration: none;
  margin-left: 12px;
}

#questions__email-input {
  border: 0;
  height: 70px;
  font-weight: 400;
  font-size: 1.1rem;
  width: 500px;
  background: url("../img/newsletter-icon/mail.svg") no-repeat scroll 7px 7px;
  background-position: 3% 50%;
  background-color: var(--clr-white);
  padding-left: 50px;
}

/* ------------------------------ Footer ------------------------------ */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.footer__logo {
  margin-left: 20px;
}

.footer__img-logo img {
  width: 100px;
  margin-bottom: 20px;
}

.footer__nav-links {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.footer__nav-links li {
  width: 120px;
}

.footer__nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--clr-neutralMedium);
  height: 30px;
}

.footer__nav-links a:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

/* ------------------------------ Contact.html ------------------------------ */
.contact__form-container form {
  display: flex;
  flex-direction: column;
}

.contact__email-phone {
  display: flex;
  justify-content: space-between;
}

.contact__email-phone div {
  width: 49.5%;
  display: flex;
  flex-direction: column;
}

#contact__wrapper {
  padding: 0 14px 0 14px;
  width: 80vw;
  margin-bottom: 100px;
}

#contact__wrapper h1 {
  font-size: 3rem;
  padding-bottom: 70px;
}

label {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr-neutralMedium);
  margin-bottom: 10px;
}

input {
  border: 0;
  background-color: rgba(107, 112, 141, 0.1);
  height: 70px;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 15px;
  margin-bottom: 24px;
}

textarea {
  border: 0;
  background-color: rgba(107, 112, 141, 0.1);
  height: 200px;
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 7px;
  padding-left: 15px;
  margin-bottom: 24px;
}

.contact__btn-submit {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.05rem;
  padding: 25px;
  text-decoration: none;
  border: 0;
}

.contact__btn-submit:hover {
  background-color: var(--clr-neutralDark);
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ START MEDIA QUERIES ------------------------ */
/* --------------------------------------------------------------------------- */

/* ----------------------- Smaller than 990px (tablet) ----------------------- */
@media (max-width: 990px) {
  /* -------------------------- Index.html ------------------------- */
  /* Project Section */
  .project__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    margin: 0 44px 0 44px;
  }

  .project__title {
    margin-left: 44px;
  }

  /* Reviews Section */
  .reviews__emoji-1,
  .reviews__emoji-2,
  .reviews__emoji-3,
  .reviews__emoji-4 {
    width: 96px;
    height: 96px;
  }

  .reviews__autor-testimonial-block {
    display: flex;
    justify-content: center;
    width: 60%;
  }

  #reviews__wrapper h2 {
    font-size: 1.6rem;
  }

  /* Services Section */
  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    margin: 0 44px 0 44px;
  }

  .services__title {
    margin-left: 44px;
  }
}

/* ------------------------- Smaller than 766px (mobile) --------------------- */
@media (max-width: 766px) {
  /* -------------------------- Index.html ------------------------- */
  /* Main Section */
  #main__wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #main__wrapper > div {
    width: 80%;
  }

  #main__img-block {
    order: -1;
    margin-bottom: 30px;
  }

  .main__txt-block {
    order: 1;
  }

  /* Project Section */
  .project__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    margin: 0 44px 0 44px;
  }

  .project__title {
    margin-bottom: 40px;
    margin-top: 50px;
  }

  /* Reviews Section */
  .reviews__emoji-1,
  .reviews__emoji-2,
  .reviews__emoji-3,
  .reviews__emoji-4 {
    display: none;
  }

  #reviews__wrapper {
    justify-content: center;
    height: 370px;
  }

  #reviews__wrapper p {
    width: 95%;
    font-size: 1.2rem;
    margin: 40px 0 40px 0;
  }

  #reviews__wrapper h2 {
    font-size: 1.4rem;
  }

  /* Services Section */
  .services__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    margin: 0 44px 0 44px;
  }

  .services__title {
    margin-bottom: 40px;
  }

  /* Questions Section */
  #questions__wrapper h2 {
    font-size: 2rem;
    text-align: center;
  }

  .questions__subscribe {
    display: flex;
    flex-direction: column;
  }

  #questions__email-input {
    width: 100%;
    background: url("../img/newsletter-icon/mail.svg") no-repeat scroll 7px 7px;
    background-position: 20% 50%;
    text-align: center;
    background-color: var(--clr-white);
  }

  #questions__btn {
    width: 100%;
    margin: 12px 0 0 0;
    text-align: center;
  }

  /* -------------------------- Navbar ------------------------- */
  .topnav__links a {
    display: none;
  }

  /* Hamburger Menu */
  .topnav__hamburger-menu {
    display: block;
  }

  .topnav__links,
  .topnav__btn-blue {
    display: none;
  }

  #topnav__hamburger-checkbox:checked ~ .dropdown-menu {
    display: block;
  }

  /* -------------------------- Footer ------------------------- */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 120px auto;
  }

  .footer__logo {
    text-align: center;
    margin-bottom: 30px;
  }

  #footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .footer__nav-links {
    width: 65%;
    text-align: center;
  }

  .footer__nav-links li {
    width: auto;
  }
}

/* -------------------- Smaller than 475px (small mobiles) ------------------- */
@media (max-width: 475px) {
  /* -------------------------- Index.html ------------------------- */
  /* Main Section */
  .main__txt-block h1 {
    font-size: 2rem;
    color: var(--clr-neutralDark);
  }

  .main__txt-block p {
    font-size: 1rem;
  }

  .main__btn-block {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: center;
  }

  .main__btn-blue {
    margin-bottom: 30px;
  }

  /* Brands Section */
  #brands__wrapper {
    margin-top: 50px;
  }

  .brands__img-item {
    width: 5rem;
  }

  .brands__marquee-container a {
    width: 30vw;
  }

  /* Project Section */
  .project__title h2 {
    font-size: 1.5rem;
  }

  /* Services Section */
  .services__title h2 {
    font-size: 1.5rem;
  }
  /* -------------------------- Contact.html ------------------------- */
  .contact__email-phone {
    flex-direction: column;
  }
  .contact__email-phone > div {
    width: 100%;
  }
  #contact__wrapper h1 {
    font-size: 2rem;
    padding-bottom: 70px;
    text-align: center;
  }
}
